* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ebebeb;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, rgb(255, 187, 0));
    clip-path: circle(30% at right 70%);
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#104fb4, #ec1a60);
    clip-path: circle(20% at 10% 10%);
}

h1 {
    font-size: 40px;
    margin: 40px;
    position: relative;
    z-index: 1000;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left:  1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.card .first_content {
    position: absolute;
    padding: 20px;
}

.card .first_content h2{
    font-size: 5em;
    font-weight: 900;
    pointer-events: none;
    transition: all .4s;
}

.card:hover .first_content h2 {
    font-size: 18em;
    opacity: 0;
}

.card-one:hover .first_content h2 {
    transform: translateY(300px);
}

.card-two:hover .first_content h2 {
    transform: translateY(-300px);
}

.card-three:hover .first_content h2 {
    transform: translateX(-300px);
}

.card .second_content {
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: all .5s;
}

.card-one .first_content,
.card-one .second_content h2{
    color: rgba(203, 67, 53);
}

.card-two .first_content,
.card-two .second_content h2{
    color: rgba(46, 134, 193);
}

.card-three .first_content,
.card-three .second_content h2{
    color: rgba(34, 153, 84);
}

.card-one .second_content {
    transform: translateY(-300px);
    opacity: 0;
}

.card-two .second_content {
    transform: translateY(300px);
    opacity: 0;
}

.card-three .second_content {
    transform: translateX(300px);
    opacity: 0;
}

.card-one:hover .second_content {
    transform: translateY(0px);
    opacity: 1;
}

.card-two:hover .second_content {
    transform: translateY(0px);
    opacity: 1;
}

.card-three:hover .second_content {
    transform: translateX(0px);
    opacity: 1;
}

.card .second_content h2 {
    position: absolute;
    top: -80px;
    right: 20px;
    font-size: 8em;
    font-weight: 900;
    pointer-events: none;
    z-index: -1;
    opacity: .5;
}

.card .second_content h3 {
    color: #000;
    font-size: 1.8em;
    font-weight: 900;
}

.card .second_content p {
    color: #000;
    font-size: 1em;
    font-weight: 200;
    line-height: 25px;
    margin-top: 10px;
}

.card .second_content .btn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color .3s, color .3s;
}

.card .second_content .btn-one:hover {
    background-color: rgb(203, 67, 53);
    color: #fff;
}

.card .second_content .btn-two:hover {
    background-color: rgb(46, 134, 193);
    color: #fff;
}

.card .second_content .btn-three:hover {
    background-color: rgb(34, 153, 84);
    color: #fff;
}

.card .btn:visited {
    background-color: rgb(200, 200, 200);
    color: #fff;
}